# environment variables
chat_interface/backend_modules/.env

# google cookie
Main/back-end/.google-cookie

# Intellij Idea and VS
/.idea/
/.vs/
FinGPT_Demo.iml

# node modules
Main/front-end/node_modules/
Main/back-end/node_modules/

# pycache
/Main/back-end/chat_server/__pycache__
/Main/back-end/chat_server_app/__pycache__

# venv
/FinGPTenv

# rag local embeddings
Main/back-end/datascraper/embeddings.pkl
Main/back-end/datascraper/faiss_index.idx

# Sphinx doc build
/Docs/build

# webpack build
/Main/front-end/dist

# question logging
Main/back-end/chat_server_app/questionLog.csv
Main/back-end/preferred_urls.txt
