# environment variables
chat_interface/backend_modules/.env

# Intellij Idea
/.idea/
FinGPT_Demo.iml

# node modules
ChatBot-Fin/Extension-ChatBot-Fin/node_modules/

# pycache
/ChatBot-Fin/chat_server/chat_server/__pycache__
/ChatBot-Fin/chat_server/chat_server_app/__pycache__

# venv
/FinGPTenv

# rag local embeddings
ChatBot-Fin/chat_server/datascraper/embeddings.pkl
ChatBot-Fin/chat_server/datascraper/faiss_index.idx

# Sphinx doc build
/docs/build

# webpack build
/ChatBot-Fin/Extension-ChatBot-Fin/dist

#question logging
ChatBot-Fin/chat_server/chat_server_app/questionLog.csv
