/* Popup Container */
#draggableElement {
    text-align: center;
    position: absolute;
    width: 450px;
    height: 650px;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 5px 0px 10px black;
    overflow-y: auto;
    z-index: 10000;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    resize: both;
    min-width: 250px;
    min-height: 80px;
    user-select: text;
}

/* Custom Scrollbar */
#draggableElement::-webkit-scrollbar {
    width: 12px;
}

#draggableElement::-webkit-scrollbar-track {
    background: none;
}

#draggableElement::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

#draggableElement::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}